.card {
  cursor: default;
}

.cardsContainer {
  width: 100%;
}

.cardsContainer > * {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 24px;
}

.commentFooter {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
}
